body {
}
form {
  background-color: #213b50;
  width: 50%;
  height: auto;
  color: white;
  padding: 2vh;
}
label {
  display: block;
}
input,
select,
textarea {
  background-color: #2b4a64;
  border: none;
  outline: none;
  width: 300px;
  height: 4vh;
  color: white;
  margin-bottom: 1vh;
}
input:focus,
select:focus,
textarea:focus {
  background-color: #4e708c;
  border: #ffffff solid 1px;
  border-radius: 0;
}
textarea {
  height: 13vh;
}
label[for*="male"] {
  display: inline;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
label {
  margin-bottom: 1vh;
  display: block;
}
label[for="agreement"] {
  display: inline;
}
label,
input {
  vertical-align: middle;
}
input[type="submit"] {
  background-color: #1ac056;
  width: 10vh;
  height: 5vh;
  font-weight: 800;
  margin-top: 2vh;
}
input[type="submit"]:hover {
  background-color: #46e881;
}
